<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="login.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
	<div class="container-login">
		<h3 >LOGIN</h3>
		<form action="" method="POST">
			<div class="form-group">

				<label>username</label>
				<input id="uname" class="input-uname" placeholder="username" name="uname-input" type="text" required>

				<label>password</label>						
				<input id="pass" class="input-pass" placeholder="password" name="pass-input" type="password" required>

				<button type="submit" class="btn btn-primary">Login</button>
				<a href="#forgot">Forgot Password?</a>
			</div>
		</form>
	</div>
</body>
</html>